* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 58px;

    display: inline-block;
    width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.trademark {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d77;
}

.trademark::before {
    display: inline-block;
    margin-right: 12px;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

/* Header */
.header {
    margin-top: 42px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: 70px;
    display: flex;
}

.navbar__link {
    padding: 10px 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.navbar__link--active {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #212832;
}

.navbar__link--active::after {
    display: block;
    position: absolute;
    left: 24px;
    content: "";
    width: 47px;
    height: 1px;
    background: #7264d6;
    border-radius: 0.5px;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #212832;
}

.header-action__btn {
    --height: 52px;

    margin-left: 28px;
    width: 113px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero-content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    color: #212832;
}

.hero__heading--strong {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #696d76;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    margin: 40px 0 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: inherit;
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.subscribe-form__btn {
    flex-shrink: 0;
    background: #7264d6;
    border: none;
}

.hero__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: #696d76;
}

.hero__img-wrap {
    position: relative;
    margin-left: 160px;
}

.hero__img {
    width: 296px;
    height: 562px;
}

.hero__img-data {
    position: absolute;
}

.hero__img-data1 {
    top: 105px;
    left: -120px;
}

.hero__img-data2 {
    top: 130px;
    right: -180px;
}

.hero__img-data3 {
    bottom: 66px;
    right: -76px;
}

/* Works */
.works {
    margin-top: 160px;
}

.works__inner {
    display: flex;
    align-items: center;
}

.works-media__img-wrap {
    display: flex;
    position: relative;
}

.works-media__img-bg {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.works-media__img-decor1 {
    position: absolute;
    top: 80px;
    right: 35px;
}

.works-media__img-decor2 {
    position: absolute;
    bottom: 35px;
    right: -130px;
}

.works-content {
    margin-left: 230px;
}

.works__heading {
    margin-bottom: 70px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

.works__title {
    margin-bottom: 16px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: #212832;
}

.works__desc {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

/* Features */
.features {
    margin-top: 160px;
}

.features__inner {
    display: flex;
    align-items: center;
}

.features-left {
    width: 40%;
}

.features__heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

.features__desc {
    margin: 20px 0 28px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #696d76;
}

.benefit {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
}

.benefit::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.features-right {
    margin-left: 130px;
}

.features-right__img-wrap {
    position: relative;
    width: 482px;
    height: 322px;
}

.features__img-data1 {
    position: absolute;
    top: -72px;
    right: -100px;
}

.features__img-data2 {
    position: absolute;
    bottom: -50px;
    right: -80px;
}

/* Payment */
.payment {
    margin-top: 160px;
}

.payment__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment-content {
    width: 40%;
    margin-left: 130px;
}

.payment-media {
    width: 49%;
}

.payment-media__img-wrap {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
}

.payment__img {
    position: absolute;
}

.payment__img-bg {
    bottom: 0;
    left: 0;
}

.payment__img-01 {
    left: 28px;
    bottom: 0;
}

.payment__img-02 {
    bottom: 57px;
    right: 28px;
}

.payment__img-03 {
    bottom: 222px;
    right: 0;
}

.payment__desc {
    margin: 20px 0 28px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #696d76;
}

/* Feedback */
.feedback {
    margin-top: 160px;
}

.feedback-top {
    text-align: center;
}

.feedback__heading {
    margin-top: 12px;
}

.feedback__desc {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 435px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.feedback-trademark {
    justify-content: center;
}

.feedback-bottom {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.feedback__item {
    width: 48%;
    text-align: center;
}

.feedback__blockquote-wrap {
    position: relative;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    background: #fff;
    transition: 0.25;
}

.feedback__blockquote-wrap:hover {
    box-shadow: 0px 22px 54px 0px #00000012;
    transform: translateX(-10px);
    border: none;
}

.feedback__blockquote {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.55;
    text-align: center;
    color: #696d76;
}

.feedback__rectangle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
    background: #fff;
    rotate: 45deg;
    bottom: -30px;
    right: 252px;
}

.feedback__reviewers {
    margin: 96px auto 0 auto;
}

.feedback__img-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 104px;
    height: 104px;
    background: #4ab5e3;
    border-radius: 50%;
}

.feedback__img-wrap2 {
    background: #439f90;
}

.feedback__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.feedback__name {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.39;
    color: #070052;
}

.feedback__job {
    margin-top: 2px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #696d76;
}

.feedback__arrow-wrap {
    margin-top: 38px;
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.feeback__arrow {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
}

.feeback__arrow--active {
    background: #7264d6;
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    margin-top: 18px;
    width: 435px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.blog-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.blog-item {
    padding: 28px 0 28px 28px;
    display: flex;
    border: 1px solid #dfe2e8;
    border-radius: 12px;
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px #00000012;
    background: #fff;
    border: none;
}

.blog-item__content {
    margin-left: 22px;
}

.blog-item__time {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: #696d76;
}

.blog-item__title {
    margin: 10px 0 20px;
    width: 332px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
}

.blog-item__link {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
    color: #696d76;
}

.blog-item__link:hover {
    color: #7264d6;
}

/* CTA */
.cta {
    margin-top: 160px;
}

.cta__inner {
    position: relative;
    padding: 100px 0;
    background: #7264d6;
    border-radius: 24px;
    text-align: center;
}

.cta__trademark {
    justify-content: center;
    color: #fff;
}

.cta__trademark::before {
    background: #fff;
}

.cta__heading {
    margin-top: 12px;
    color: #fff;
}

.cta__desc {
    width: 435px;
    margin: 18px auto 38px auto;
    font-size: 1.6;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    color: #fff;
}

.cta__get {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.cta__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 31px;
    background-color: #fff;
    border: none;
    outline: none;
}

.cta__img-decor {
    position: absolute;
}

.cta__img-decor:nth-of-type(1) {
    top: 50px;
    left: 120px;
}

.cta__img-decor:nth-of-type(2) {
    top: 50px;
    right: 120px;
}

.cta__img-decor:nth-of-type(3) {
    bottom: 50px;
    left: 180px;
}

.cta__img-decor:nth-of-type(4) {
    bottom: 50px;
    right: 180px;
}
