* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    --height: 58px;

    display: inline-block;
    width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    margin-top: 42px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: 70px;
    display: flex;
}

.navbar__link {
    padding: 10px 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.navbar__link--active {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #212832;
}

.navbar__link--active::after {
    display: block;
    position: absolute;
    left: 24px;
    content: "";
    width: 47px;
    height: 1px;
    background: #7264d6;
    border-radius: 0.5px;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #212832;
}

.header-action__btn {
    --height: 52px;

    margin-left: 28px;
    width: 113px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero-content {
    width: 46%;
}

.trademark {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d77;
}

.trademark::before {
    display: inline-block;
    margin-right: 12px;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero__heading {
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    color: #212832;
}

.hero__heading--strong {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #696d76;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    margin: 40px 0 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: inherit;
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

.subscribe-form__btn {
    flex-shrink: 0;
    background: #7264d6;
    border: none;
}

.hero__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: #696d76;
}

.hero__img-wrap {
    position: relative;
    margin-left: 160px;
}

.hero__img {
    width: 296px;
    height: 562px;
}

.hero__img-data {
    position: absolute;
}

.hero__img-data1 {
    top: 105px;
    left: -120px;
}

.hero__img-data2 {
    top: 130px;
    right: -180px;
}

.hero__img-data3 {
    bottom: 66px;
    right: -76px;
}

/* Works */
.works {
    margin-top: 160px;
}

.works__inner {
    display: flex;
    align-items: center;
}

.works-media__img-wrap {
    display: flex;
    position: relative;
}

.works-media__img-bg {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.works-media__img-decor1 {
    position: absolute;
    top: 80px;
    right: 35px;
}

.works-media__img-decor2 {
    position: absolute;
    bottom: 35px;
    right: -130px;
}

.works-content {
    margin-left: 230px;
}

.works__heading {
    margin-bottom: 70px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

.works__title {
    margin-bottom: 16px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: #212832;
}

.works__desc {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #696d76;
}

/* Features */
.features {
    margin-top: 160px;
}

.features__inner {
    display: flex;
    align-items: center;
}

.features-left {
    width: 40%;
}

.features__heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

.features__desc {
    margin: 20px 0 28px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #696d76;
}

.features__benefit {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #212832;
}

.features__benefit::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.features__btn {
    margin-top: 38px;
}

.features-right {
    margin-left: 130px;
}

.features-right__img-wrap {
    position: relative;
    width: 482px;
    height: 322px;
}

.features__img-data1 {
    position: absolute;
    top: -72px;
    right: -100px;
}

.features__img-data2 {
    position: absolute;
    bottom: -50px;
    right: -80px;
}
